<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DroneXpress</title>

    <link rel="stylesheet" href="static/style.css">

    <!-- Leaflet correto -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Geocoder -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css">
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- Turf.js -->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>

</head>
<body>

<div class="container">
    <h1>DroneXpress</h1>
    <p>Clique no mapa para definir o destino.</p>

    <div id="mapa" class="mapa"></div>

    <label>Ponto A (Base):</label>
    <input type="text" id="pa" readonly>

    <label>Ponto B (Destino):</label>
    <input type="text" id="pb">

    <label>Melhor Rota:</label>
    <input type="text" id="mr" readonly>

    <input type="button" id="btnCalculate" value="Calcular Rota">
    <input type="button" id="btnReset" value="Resetar">

</div>

<script src="static/script.js"></script>

</body>
</html>
